.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
}

#sidebarMenu .nav-link {
    color: white;
}

#sidebarMenu .nav-link:visited, #sidebarMenu .nav-link:hover {
    border:none;
    outline:none;
    text-decoration:none;
    -webkit-tap-highlight-color: white;
    color: white;
}

.border-bottom-line-white {
    border-bottom: solid 1px rgba(255, 255, 255, 0.5);
}